body{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #0c0c0c;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
}

.header{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    height: 150px;
    align-items: center;
    padding-left: 30px;
    padding-right: 10px;
    border-bottom: 1px solid white;
}

.header h1 a{
    font-size: 4rem;
    z-index: 2;
    text-decoration: none;
    color: white;
}

.header .links{
    width: 70%;
    display: flex;
    justify-content: end;
    gap: 70px;
    font-size: 2rem;
}

.header .links a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.header .links a:hover{
    color: #22ffb8;
}

.banner{
    background-color: black;
    height: 70vh;
    width: 100%;
    color: #f5f5f7;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px 2px black;
    position: relative;
}

.banner h1{
    position: absolute;
    top: 10px;
    left: auto;
    right: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    opacity: 0.8;
    font-size: 4rem;
}

.banner .alan-turing {
    height: 100%;
    width: 100%;
    background-color: white;
    position: relative;
}
  
.banner .alan-turing::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.banner .alan-turing img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-content{
    height: 150vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: #f5f5f7;
}

.main-content i{
    font-size: 10rem;
}

.main-content h2{
    color: #22ffb8;
    text-shadow: 1px 1px 0 #f5f5f7;
    margin: 0;
}

.main-content .container{
    width: 70%;
    height: 100%;
    overflow-y: hidden;
}

.main-content .container .themes-messages{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 2%;
}

.main-content .container .themes{
    height: 90%;
    width: 45%;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    box-shadow: 0px 0px 10px 1px #22ffb95b
}

.main-content .container .messages{
    height: 90%;
    width: 45%;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    box-shadow: 0px 0px 10px 1px #22ffb95b;
}

#button-1,
#button-2,
#button-3,
#button-4,
#button-5,
#button-6{
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#button-1:active,
#button-2:active,
#button-3:active,
#button-4:active,
#button-5:active,
#button-6:active{
    transform: scale(0.9);
    opacity: 0.9;
}

#button-1 i,
#button-2 i,
#button-3 i,
#button-4 i,
#button-5 i,
#button-6 i{
    font-size: 2.7rem;
    color: black;
}

.main-content .container .miscellaneous{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.main-content .container .miscellaneous .over-all{
    height: 100%;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.main-content .container .miscellaneous .overall-evaluation{
    height: 90%;
    width: 99%;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    box-shadow: 0px 0px 10px 1px #22ffb95b;
}

.main-content .container .miscellaneous .overall-evaluation i{
    font-size: 10rem;
}

.main-content .container .miscellaneous .two{
    height: 100%;
    width: 25%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.main-content .container .miscellaneous .two .technical-aspect{
    height: 42.5%;
    width: 100%;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    box-shadow: 0px 0px 10px 1px #22ffb95b;
}

.main-content .container .miscellaneous .two .acting{
    height: 42.5%;
    width: 100%;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px 0px 10px 1px #22ffb95b;
}

.main-content .container .end{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: start;
    justify-content: center;
}

.main-content .container .end .conclusion{
    height: 60%;
    width: 92%;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px 0px 10px 1px #22ffb95b;
}

.footer{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.footer h5{
    color: #494949;
    margin: 0;
}
